<html>

<body>


<section id="portfolio">
        <div class="container">

          <div class="col-sm-2 portfolio-item">
  </div>

  <div class="col-sm-4 portfolio-item" style="align-content: right">


<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<%= form_tag(properties_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Properties" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<%= link_to "Advanced Search", new_search_path %>

<% if @properties.blank? %>
  <h4>There are no properties containing the term <%= params[:search] %>.</h4>
<% end %>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Cost</th>
      <th>Delegacion</th>
      <th>Colonia</th>
      <th>Street</th>
      <th>Interior</th>
      <th>Exterior</th>
      <th>Zipcode</th>
      <th>Tipo</th>
      <th>Roomie</th>
      <th>Room</th>
      <th>Pet</th>
      <th>Parking</th>
      <th>Service</th>
      <th>Internet</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.title %></td>
        <td><%= property.cost %></td>
        <td><%= property.delegacion %></td>
        <td><%= property.colonia %></td>
        <td><%= property.street %></td>
        <td><%= property.interior %></td>
        <td><%= property.exterior %></td>
        <td><%= property.zipcode %></td>
        <td><%= property.tipo %></td>
        <td><%= property.roomie %></td>
        <td><%= property.room %></td>
        <td><%= property.pet %></td>
        <td><%= property.parking %></td>
        <td><%= property.service %></td>
        <td><%= property.internet %></td>
        <td><%= property.description %></td>

        <td><%= property.user.email %></td>
        <td><%= link_to 'Show', property %></td>
        <% if property.user == current_user %>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>

</div>

  <div class="col-sm-4 portfolio-item">
  </div>

  <div class="col-sm-2 portfolio-item">
  </div>
  

  </div>

  </section>

  </body>

  </html>
