<!DOCTYPE html>
<html>

  <head>
    <title><"Waffle-House" </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body >

    <header class="navbar navbar-fixed-top">

      <header class="navbar fixed-top navbar-toggleable-md navbar-light navbar-inverse" id="mainNav">
          <div class="container">
              <a class="navbar-brand" href="#page-top">Waffle House</a>

              <ul class="nav navbar-nav navbar-right ">
                <li>  <%= link_to 'Buscar',"/properties/", :class => 'navbar-link' %> </li>
                <li>  <%= link_to "Home", "/", :class => 'navbar-link'  %> </li>

                <% if user_signed_in? %>
                  Logged in as <strong><%= current_user.email %></strong>.
                <li>  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
                <li>  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
                <% else %>
                  <li> <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> | </li>
                <li>  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </li>
                <% end %>

              </ul>
          </div>
      </header>
    </header>



  <div class="container">

    <!-- Page Content -->
      <div class="container">

          <div class="row">
              <li>
              </li>
              <li>
              </li>
              <div class="col-md-2">

              </div>

              <div class="col-md-8">

                  <div class="thumbnail">
                      <img class="img-responsive" src="<%= link_to image_tag(@property.image.url), @property.image.url%>" alt="">
                      <div class="caption-full">
                          <h4 class="pull-right"></h4>
                          <h4><a href="#"><%= @property.title%></a>
                          </h4>

                          <p><%= @property.description%></p>
													<p>"Delegación: "<%= @property.delegación%></p>
													<p>"Colonia: "<%= @property.colonia%></p>
													<p>"Calle: "<%= @property.street%></p>
													<p>"Número: "<%= @property.exterior%></p>
													<p>"Interior: "<%= @property.interior%></p>
													<p>"C.P.: "<%= @property.zipcode%></p>
													<p>"Tipo: "<%= @property.tipo%></p>
													<p>"Número de cuartos: "<%= @property.romm%></p>

													<p>"Mascota: "<%= @property.pet%></p>
													<p>"Internet.: "<%= @property.internet%></p>
													<p>"Estacionamiento: "<%= @property.parking%></p>
													<p>"Servicio: "<%= @property.service%></p>
													<p>"Agregada en: "<%= @property.created_at%></p>
													<p>"última Modificación: "<%= @property.updated_at%></p>
													<p>"C.P.: "<%= @property.zipcode%></p>


                      </div>
                      <div class="ratings">
                          <p class="pull-right">3 reviews</p>
                          <p>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star-empty"></span>
                              4.0 stars
                          </p>
                      </div>
                  </div>

                  <div class="well">

                      <div class="text-right">
                          <a class="btn btn-success">Leave a Review</a>
                      </div>

                      <hr>

                      <div class="row">
                          <div class="col-md-12">
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star-empty"></span>
                              Anonymous
                              <span class="pull-right">10 days ago</span>
                              <p>This product was great in terms of quality. I would definitely buy another!</p>
                          </div>
                      </div>

                      <hr>

                      <div class="row">
                          <div class="col-md-12">
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star-empty"></span>
                              Anonymous
                              <span class="pull-right">12 days ago</span>
                              <p>I've alredy ordered another one!</p>
                          </div>
                      </div>

                      <hr>

                      <div class="row">
                          <div class="col-md-12">
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star-empty"></span>
                              Anonymous
                              <span class="pull-right">15 days ago</span>
                              <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                          </div>
                      </div>

                  </div>

              </div>

          </div>

      </div>
      <!-- /.container -->
</div>




  </body>
