<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @property.cost %>
</p>

<p>
  <strong>Delegacion:</strong>
  <%= @property.delegacion %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @property.colonia %>
</p>

<p>
  <strong>Street:</strong>
  <%= @property.street %>
</p>

<p>
  <strong>Interior:</strong>
  <%= @property.interior %>
</p>

<p>
  <strong>Exterior:</strong>
  <%= @property.exterior %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @property.zipcode %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @property.tipo %>
</p>

<p>
  <strong>Roomie:</strong>
  <%= @property.roomie %>
</p>

<p>
  <strong>Room:</strong>
  <%= @property.room %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @property.pet %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @property.parking %>
</p>

<p>
  <strong>Service:</strong>
  <%= @property.service %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @property.internet %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
