<html>

<body>


<section id="portfolio">
        <div class="container">

          <div class="col-sm-2 portfolio-item">
  </div>

  <div class="col-sm-4 portfolio-item" style="align-content: right">

<h1>Advanced Search</h1>

<%= form_for @search, html: {class: "pure-form"} do |s| %>

	<div class="field">
	  <%= s.label :keywords %><br />
	  <%= s.text_field :keywords %>
	</div>

	<div class="field">
	  <%= s.label :tipo %><br />
	  <%= s.select :tipo, options_for_select(@tipos), :include_blank => true %>
	</div>

	<div class="field">
	  <p><%= s.label :min_price, "MinPrice" %> - <%= s.text_field :min_price, size: 10 %></p>
	  <p><%= s.label :max_price, "MaxPrice" %> - <%= s.text_field :max_price, size: 10 %></p> 
	</div>

	<div class="actions"><%= s.submit "Search", class: "pure-button pure-button-primary" %></div>

<% end %>

<p><%= link_to 'Back', properties_path %></p>

</div>

  <div class="col-sm-4 portfolio-item">
  </div>

  <div class="col-sm-2 portfolio-item">
  </div>
  

  </div>

  </section>

  </body>

  </html>